:root {
    --primary-color: #e9e9e9;
    --secondary-color: #94e5f0;
    --font-family: font-family: 'Gentium Plus', serif;
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: 300;
    width: auto;
    height: auto;
}

.profile-picture {
    width: 70px;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    position: relative;
    right: -30px;
    top: 20px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#wrapper .text {
    position: relative;
    bottom: 30px;
    left: 0px;
    visibility: hidden;
}

#wrapper:hover .text {
    visibility: visible;
}
.text {
    color: var(--secondary-color);
    opacity: none;
    transform: translate3d(120px, -10px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}


.link-padding {
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.nav-bar-position-right {
    position: relative;
    right: -800px;
}
.contain {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 305px;
    padding-right: 20px;
    padding-left: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}
.typer {
    width: 50%;
    color: #aaa9a3;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.5px;
}
.myself {
    color: #32322e;
    font-family: var(--font-family);
}
.abt-button {
    display: block;
    padding: 12px 18px;
    background-color:var(--secondary-color);
    color:#88846b;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    display: inline;
    margin-top: 20px !important;
}
.abt-button :hover{
    padding: 18px 20px;
    font-size: 20px;
} 

